

/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
  /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #858585;
    font-weight: 400;
    letter-spacing: 0.02rem;
    background: #f7f7f7;
  }
 
.bold {
    font-weight: 700;
  }

p {    
    font-weight: 400;
  }
.theme-color{
	color: #1f8dad;
}
.para-color{
  color: #2f2f2f;
}
.theme-bg{
	background-color: #1f8dad;
}
.brown-bg{
	background-color:#d59282;
}
.black{
	color: #000000;

}
.white{
	color: #ffffff;
}
a, a:hover{
	text-decoration: none;
}

.marg-btm{
  margin-bottom: 50px;
}







.mainMenu .navbar-nav .nav-link {
 font-family: 'Abel';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

 .mainMenu .navbar-nav .active .nav-link,
.mainMenu .navbar-nav .nav-link:hover,
.mainMenu .dropdown-menu .dropdown-item:hover  {
  /*color: #2d2d2e;*/
  color:#1f8dad;
}

.header-nav .logo{
  margin-left: 50px;
  margin-top: 10px;
}
.header-nav .logo .l-brand{
  margin-top:20px; 

}
.header-nav .logo .m-brand{
  display: none;
}
.header-nav{
  position: relative;

}

.header-nav .mainMenu{
  width:100%;
  position: absolute;
  bottom: -120px;
  z-index: 1;
}

.header-nav #navbarSupportedContent{
  margin-right: 50px;
}
.header-nav #navbarSupportedContent li{
  padding-bottom: 15px;
}
.navbar-light .navbar-toggler{
  background-color: #1f8dad;
  color: #ffffff;
}
.mainMenu .navbar-nav .nav-item .home{
  height: 25px;
  width: 25px

}
.header-nav .mainMenu .navbar-collapse{
  border-bottom: 1px solid #ffffff;
}





#multi-item-example .rows .column1{
  width:30%;
  height: 600px;
}


#multi-item-example .rows .column2{
height: 600px;
  width:70%;

}

#multi-item-example .carousel-item .row1 .column1  {
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0)   0%, 
    rgba(0, 0, 0, 0.65) 0%), url('../images/banner-inactive.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}


#multi-item-example .row1 .column2 {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0)12%, 
    rgba(0, 0, 0, 0.65) 70%),url('../images/banner-active.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}


#multi-item-example .carousel-item .row2 .column1 {
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0)   0%, 
    rgba(0, 0, 0, 0.65) 0%), url('../images/banner-active.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
 
}


#multi-item-example .row2 .column2 {
  background-image:linear-gradient(to bottom right, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 12%, 
    rgba(0, 0, 0, 0.65) 70%), url('../images/banner-inactive.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#multi-item-example .rows .column1{
  position: relative;
}
#multi-item-example .rows .column1 .text{
  position: absolute;
  bottom:0;
  text-align: center;
  opacity: 0.6;
  padding: 45px;
}

#multi-item-example .rows .column2{
  position: relative;
}
#multi-item-example .rows .column2 .text{
  position: absolute;
  bottom:0; 
  margin-left: 100px;
  margin-bottom: 80px;
  max-width: 470px;
}

#multi-item-example .rows .text .car-head{
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Abel";
}

#multi-item-example .rows .text .car-para{
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Abel";
  line-height: 1.2;
}

#multi-item-example .rows .text .get-btn{
  font-size: 18px;
  color: #3196b3;
  font-weight: 400;
  font-family: "Abel";
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2px 35px;
}

#multi-item-example .column2 .text .get-btn:hover{
  color:#ffffff;
  background-color: #3196b3;
}

#multi-item-example .rows .column1 .get-btn{
  margin-top: 20px;
}

#multi-item-example .next{
  font-size: 30px;
  font-weight: 700;
  border-radius: 50%;
  border:2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 0px 10px 5px 10px;
}
#multi-item-example .next-btn{
  position: relative;
}
#multi-item-example .next-btn .next{
  position: absolute;
  top:-350px;
  left:28%;
  
}
#multi-item-example .next-btn .next:hover{
 
 top:-352px;
 color: #3196b3;
 border-color: #3196b3;
}




.chose-card .card-col{
  height: 400px;
  margin-bottom: 30px;
  background-color: #d9e3e7;
  text-align: center;
  padding: 30px;
}

.chose-card .card-col .child{
  display: none;
}
.chose-card .card-col:hover{
  background-color: #3195b3
}
 .chose-card .card-col:hover .parent{
  display: none;
}
.chose-card .card-col:hover .child{
  display: block;
}

.chose-card .card-col .card-col-head{
  font-size: 30px;
  color: #58696d;
  font-weight: 400;
  font-family: "Abel";
  text-align: center;
  text-transform: uppercase;
}
.chose-card .card-col img{
  height: 100px;
  width: 100px;
}
.chose-card .card-col .parent img{
  margin:60px auto;

}
.chose-card .card-col .child img{
  margin:30px auto;

}


.chose-card .card-col .child .card-col-head{
  color: #ffffff;
}
.chose-card .card-col .child-para{
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Abel";
  text-align: center;
  line-height: 1.2;
}

.choose h5{
  font-family: 'Abel';
  font-size: 36px;
  color: #060403;
  font-weight: 400;
}

.choose .choose-para{
  font-size: 15px;
  color: #060403;
  font-weight: 300;
}





.app-download {
  color: #363336;
  text-align: center;
  margin: 50px auto;
}
.app-download h6{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}
.app-download .d-para{
  font-size: 15px;
  margin-bottom: 20px;

}

.app-download .store-img a{
  margin-right: 10px;
}
.app-download .store-img .store-pic{
  max-width: 25%;
  height: auto;
}







footer .copyright{  
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #374765;
  text-align: justify;
  line-height: 1.5;
   
}
footer .copyright .copy{
  font-size: 14px
}









/****************************** Media Queries *****************************/

/***********max-width 1200px ************/

@media(max-width: 1200px){
  #multi-item-example .next-btn .next {
    left: 27%;
}


}


/***********max-width 992px ************/
@media(max-width: 992px){

#multi-item-example .rows .column1{
  width:35%;  
}

#multi-item-example .rows .column2{
  width:65%;

}
 #multi-item-example .next-btn .next {
    left: 32%;
}
#multi-item-example .rows .column2 .text {
    margin-left: 75px;
    margin-right: 15px;
}


}



/***********max-width 768px ************/

@media(max-width: 768px){

.app-download .store-img .store-pic{
  max-width: 40%;

}
#multi-item-example .rows .column1,
#multi-item-example .rows .column2 {
    height: 550px;
}
#multi-item-example .rows .column1 .text {
    padding: 45px 10px;
}
#multi-item-example .rows .column2 .text {
   
    margin-left: 20px;
    margin-right: 10px;
}
#multi-item-example .next-btn .next {
    left: 30%;
}


}



/***********max-width 576px ************/

@media(max-width: 576px){

.app-download .store-img .store-pic{
  max-width: 50%;

}
.choose .choose-para{
  text-align: justify;
  font-size: 13px;
}

#multi-item-example .rows .column1, 
#multi-item-example .rows .column2 {
    height: 400px;
    width:50%;
}
#multi-item-example .rows .text .car-para {
  display: none;

}
#multi-item-example .rows .text .car-head {
    font-size: 25px;
}

#multi-item-example .rows .text .get-btn {
    padding: 2px 15px;
}
#multi-item-example .rows .column1 .text {
    padding: 45px 5px;
}
#multi-item-example .rows .column2 .text {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 45px;
}
#multi-item-example .rows .column2 .get-btn {
    margin-top: 20px;
}
#multi-item-example .next-btn .next {
    left: 45%;
    top: -255px;
}
#multi-item-example .next-btn .next:hover{
 top:-257px;

}
.header-nav .mainMenu {

    bottom: -100px;
}
.header-nav .logo .l-brand{
  display: none;
}
.header-nav .logo {
  margin-left: 0px;

}
.header-nav .logo .m-brand{
  display: block;

}
.mainMenu .navbar-nav .nav-link {
    font-size: 12px;
    line-height: 1.1;
  }

.header-nav #navbarSupportedContent li{
  padding-bottom: 0px;
}
.header-nav #navbarSupportedContent {
    margin-right: 10px;
}




}

 @media(max-width: 500px){

  #multi-item-example .next-btn .next {
    left: 43%;
    
}

 }


}