

/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: font-family: 'Lato', sans-serif;
  font-style: normal;
    color: #858585;
    font-weight: 400;
    letter-spacing: 0.02rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   
    /*font-weight: 600;*/
  }
.bold {
    font-weight: 700;
  }
p {
    
    font-weight: 400;
  }
.theme-color{
	color: #1f8dad;
}
.para-color{
  color: #2f2f2f;
}
.theme-bg{
	background-color: #1f8dad;
}
.brown-bg{
	background-color:#d59282;
}
.black{
	color: #000000;

}
.white{
	color: #ffffff;
}
a, a:hover{
	text-decoration: none;
}

.mainMenu .navbar-nav .nav-link {
 font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,1);
  font-size: 18px;
  font-weight: 700;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.mainMenu .navbar-nav .active>.nav-link,
.mainMenu .navbar-nav .nav-link:hover,
.mainMenu .dropdown-menu .dropdown-item:hover  {
  /*color: #2d2d2e;*/
  color:#1f8dad;
}

.navbar-light .navbar-toggler{
	background-color: #1f8dad;
	color: #ffffff;
}
.marg-btm{
  margin-bottom: 50px;
}
.banner .banner-img{
  position: relative;

}

    
.banner .banner-text{
  position: absolute;  
  top:21%;
  left:14%;
  max-width: 694px;
}
.banner .banner-text p, .abt-banner-text p{
  font-weight: 400;
  line-height: 1;
   font-family: 'Oswald', sans-serif;
}
.banner .banner-text .b-txt1,.abt-b-txt1{
  font-size: 36px;
 
}
.banner .banner-text .b-txt2, .abt-b-txt2{
  font-size: 48px;  
  
  margin-bottom: 80px;
}
.banner .banner-text .btn-sign{
  font-size: 18px;
  padding:10px 15px;
  border-radius: 8px;
  background-color: #ffffff;
}

.memmbles{

}
.memmbles p{
  font-weight: 300;
}
.memmbles .m-txt1{
  font-size: 60px;
}
.memmbles .m-txt2{
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  
}
.memmbles .m-icons{
  margin-bottom: 1rem;
}
.memmbles .m-icons .svgimg{
    /*width: 50px;
    height: 50px;
    background-color: #1f8dad;
    padding: 17px 3px;
    border-radius: 50%;*/
        width: 100px;
    height: 100px;
    padding: 34px 10px;
    border-radius: 53%;
    background-color: #1f8dad;

}
.memmbles .m-icons .mg1{
  margin:auto 40px;
  
}
.memmbles .m-icons .mg2{
  margin-right:40px;
  
}
.join {
  
  border-top:2px solid #f1f1f1;
  
}

.join-img{
  position: relative;

}
.join .join-text{
  max-width: 435px;
  font-weight: 400;
  position: absolute;
  top:50%;
  left:8%;  
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.join .join-text .j-txt1{
  font-size: 36px;
}

.join .join-text .j-txt2{
  font-size: 28px;
  margin-bottom: 50px;
  letter-spacing: -1px;
}
.join .join-text .j-btn{
  font-size: 17px;
  border-radius:3px;
  border:2px solid #000000;
  padding:10px 15px;
}
.join .j-btm{
  position: relative;
}
.join .j-btm-photo{

  display: flex;
  position: absolute;   
  right: 5%;
  top:-228px;

}
.join .j-btm-photo img{
  padding: 15px 15px 0px 15px;
  background-color: #ffffff;
  width:223px;
  height: auto;
}

.join .j-btm-photo .card-text1{
  font-size: 18px;
  color: #888888;
}
.join .j-btm-photo .card-text2{
  font-size: 30px;
  color: #161616;
}



.news{
  margin-top: 100px;
}
.news .n-head{
  font-size: 30px;
}

.news-container{
  display: flex;
  flex-direction: row;
}
.news-col1, .news-col2,.news-col4,.news-col5{
  flex: 1;  
}
.news-col3{
  display: flex;
  flex-direction: row;
}
.n-card{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding: 10px;
}
.n-card .card-body{
  display: flex;
  flex-direction: column;
  flex:1;
}
.n-item1 img{
  /*min-height: 536px;*/
  height: 543px;
}

.body1{

/*min-height: 110px;*/
min-height: 150px;

}
.n-item4 img{
  height: 281px;
}
.n-item2 img, .n-item3 img{
  height: 135px;
}
.body1 .lead1{
  font-size: 24px;
}
.body1 .text1{
  font-size: 16px;
}
.body1 .date1{
  font-size: 14px;
}
.body2{
  padding-top: 5px;
  min-height: 107px;
}
 .body2 .lead2{
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}
 .body2 .text2{
  font-size: 16px;
  color: #727272;

}
.n-card .card-body{
  line-height: 1.3;
}
 .body2 .date2{
  font-size: 14px;
  color: #8888888;
}
.btn-news a{
  font-size: 18px;
  color: #454748;
}

.btn-news a:hover{
  color: #1f8dad;
}

.celeb-img{
  padding: 30px;
}


.share-img{
  position: relative;
}
.share-text{
  position: absolute;
   text-align: center;
  top:50%;
  left:50%;
  
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
.share .s-text1{
  font-size: 36px;
  font-weight: 900;
  filter: (-4.33px 2.5px 2.5px rgba(0,0,0,0.75));
}
.share .s-text2{
  font-size: 24px;
  }


.app{
  /*background-color: #1f8dad; */
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;

  background-size: cover;
  
  
}

.app-contents{
  /*min-height: 550px;
  margin:auto 50px;*/

}
.app-icons{ 
 /* width:15%;
  margin-left: 60px;
  min-height: 320px;*/
  position: static;
  margin:auto;
 
}
.app-icons div{
  margin:50px auto; 

}
.app-icons div .appsvg{
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.app-icons div.active .appsvg, .app-icons div .appsvg:hover{
  opacity: 1;
}
.app-icons div a:hover,.app-icons div.active a,.app-icons div .active  {
  padding: 14px 7px 17px 7px;
  border:1px solid #f1f1f1;
  border-radius: 5px;
  
}
.app-img{
 /* width: 20%;
  margin-right: 80px;*/
  margin-right: 100px;
}
.app-img img{
  border-radius: 20px;
}
.app-text{
  /*width: 65%;*/
  line-height: 1;
  width: 475px;
 
}
.svg1{
  opacity: 0.3;
  z-index: -1;
}
.a-content{
  /*min-height: 354px;*/
}
.app-text .txt-1{
 
  font-size: 24px;
  font-weight: 300;
}
.app-text .txt-2{ 
  font-size: 40px;
  margin-bottom: 110px;  
}
.app-text .txt-3{ 
  font-size: 18px;  
  text-transform: uppercase;
}
.app-text .txt-4{ 
  font-size: 19px; 
  font-weight: 400;
  margin-bottom: 70px; 
}
.app-text .learn{ 
  font-size: 18px;  
  border-radius: 5px;
  border:1px solid #ffffff;
  padding:10px 20px;

}
.app-text .learn:hover{
  color: #ffffff;
}
.app-text .download{ 
  font-size: 36px; 
  margin-top: 110px; 
}
.store-pic{
  width:125px;
  height: 40px;
  border-radius:8px;
  margin-right: 10px;
}
.app-contents{
  position: relative;
  min-height: 715px;
}
.a-content{

  width:80%;
}
.a-content .active{
  display: flex;
}




#quality-contents{
  display: flex;
}

#net-contents{
  display: none;
}
#chat-contents{
  display: none;
}
#download-contents{
  display: none;
}
#family-contents{
  display: none;
}
#lang-contents{
  display: none;
}





.copyright{
  border-top:1px dashed #858585;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #414141;
    border-top:1px dashed #858585;
}
footer{
  background: #f7f7f7;
}
.footer-list{
  list-style-type: none;
}
footer .social-info{
  margin-left: 20px;
}
footer .social-info ul li img{
  width:20px;
  height: 20px;
}

.footer .lead{
  font-size: 18px;
  line-height: 30px;
  color: #414141;
}
.footer-list li a:hover{
  color: #1f9dad;
}
.footer-list li a{
  font-size: 16px;
  line-height: 24px;
  color: #909090;
  font-weight: 400;
}

.abt-bnr-img{
  position: relative;
 
  
}
.abt-bnr-img img{

}

.abt-banner-text{
  position: absolute;
  top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  
}
.abt-head{
  font-size: 29px;
  color: #727272;


}
.abt-text{
line-height: 29px;
  font-weight: 400;
  
}
.abt-subhead{
  font-size: 19px;
  color: #262626;
   margin-top: 50px;
  margin-bottom: 20px;
}
.abt-cont{
  font-size: 15px;
  color: #727272;
}
.abt-btn-sign{
  background-color: #1f8dad;
  font-size: 18px;
  padding:10px 15px;
  border-radius: 8px
}
.abt-btn-sign:hover{
  color: #ffffff;
}
#faq-btn{
  background-color: #ffffff;
  font-size: 18px;
  padding:10px 15px;
  border-radius: 8px
}
#faq-btn:hover{
  color: #1f8dad;
}
.news-btn-sign:hover{
  color: #ffffff;
}
.cmn-head{
  font-size: 29px;
  font-weight: 400;
}
.cmn-cont{
  font-size: 15px;
  font-weight: 400;
  color: #727272;
}
.hr-line{
  color: #969696;
}

.rad-lab{
  color: #363636;
  font-size: 18px;
}

.head-lab{
  font-size: 20px;
  color: #1f8dad;
  font-weight: 400;
}
.feed-lab{
  font-size: 14px;
  color: #979797;
}
.privacy-list li{
  font-size: 15px;
  color: #727272;
  margin-bottom: 10px;
}
.list-head{
  font-size: 17px;
  color: #222222;
}
.form-feedback .submit button{
  font-size: 18px;
  border-radius: 5px;
}
.form-feedback .submit button:hover{
  color: #ffffff;
}
.red{
  color: red;
}
.news-btn-sign{
  background-color: #1f8dad;
      font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
}
.field{
  color: #727272;
  font-size: 18px;
  line-height: 1;

}
.news-head{
  font-size: 45px;
  color: #727272;
  line-height: 1.2;
}
.news-content p{
  font-size: 16px;
  color: #262626;
  text-align: justify;
}
/*.news-banner-img{
  position: relative;
  display: inline;
  background: linear-gradient(to bottom, rgba(148,187,233,1) 30%, rgba(238,174,202,1) 97%);
  min-height: 500px;
}
.news-over img{
  max-height: 450px;
  border-radius: 30px 30px 0px 0px;
  border: 5px solid rgba(255,255,255,0.69);
  border-bottom:0px;
  position: absolute;
  bottom: 0%;
  left:8%;
}*/
.what-mem  .main-head{
  font-size: 25px;
}
.what-mem  .main-para{
  font-size: 16px;
  color: #262626;
}
.what-text{
  color: #ffffff;
  max-width: 565px;
  padding: 50px;
  opacity: 0.8;
  
}

.what-text .inner-head{
  font-size: 24px;
  font-weight: 700;

}
.what-text .inner-para{
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  
}
.what-outer{
  position: relative;
}
.what-outer .txt-right{
  position: absolute;
  top:50%;
  right:6%;  
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.what-outer .txt-left{
  position: absolute;
  top:50%;
  left:6%;  
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}


.upload-text{
  background-color: #1f8dad;
}
.voice-text{
  background-color: #993f37;
}

.audio-text{
  background-color: #e1b5a5;
}

.birthday-text{
  background-color: #c73393;
}

.family-text{
  background-color: #787878;
}
.app-dwnld{
  border:1px solid #c5c5c5;
}
.app-dwnld .app-head{
  font-size: 36px;
  margin:20px auto;
}

.app-store-img.marg-btm img {
    width: 100px;
    height: 35px;
}

.recent-news .field{
  font-size: 30px;
  color: #727272;
}
.news-details .cat-selector select {
width: 258px;
height: 39px;
border-radius: 4px !important;
background-color: #ffffff;
border: 1px solid #bdbdbd;
}
.n-heading a{
  color: #262626;
  font-size: 18px;
}
.news-by .by{
  font-size: 12px;
  font-weight:bold;
  color: #7f7f7f;
}
.news-by .name{
  font-size: 12px;
  font-weight:bold;
  color: #272727;
}
.n-date{
  font-size: 12px;
  color: #272727;
}

.n-grid-img{
  margin-bottom: 15px;
}

.news-details-col{
  display: flex;
}
.cat-selector{
  margin-left: auto;
}
.recent-news{
  float: left;
}


.new-grid{
  display: flex;
  flex-wrap: wrap;
}
.new-grid .new-col{
  width: 33.3%;
  padding: 25px;
  display: flex;
  flex-direction: column;

}
.new-grid .new-col:hover{
  border:1px solid #e4e6e8;
  box-shadow: 0 0 6px #e4e6e8;

}
 .new-col .n-grid-img{
  display: flex;
  flex-direction: column;
  
  
 }
 .new-col .n-grid-img img{
  /*max-height: 219px;*/
  height: 219px;
 }
 .n-grid-img .n-details{
    display: flex;
    flex-direction: column;
    
 }
 .n-details .n-feild{
  display: flex;
  flex-direction:column;
  flex:1 0 auto;

 }


 .n-details .n-heading{
  display: flex;
  flex-direction: column;
  flex:1 0 auto;
  
 }
 .n-details .n-heading a:hover{
  color:#1f8dad;
 }
 .n-details .news-by{
  display: flex;
  flex-direction: column;
  flex:1 0 auto;
 
 }
 .n-details .n-date{
  display: flex;
  flex-direction: column;
  flex:1 0 auto;

 }









/*----------------media queries-----------------*/



@media(max-width: 1200px){
 


.app-icons div a:hover, .app-icons div .active {
   
  }

.app-text .txt-2{ 
 
  margin-bottom: 95px;  
}
.app-text .txt-3 {

    font-size: 18px;
  }

.app-text .learn {
    font-size: 18px;
    padding: 8px 15px;
}

.app-text .txt-4{ 
  font-size: 18px;  
  margin-bottom: 60px; 
}

.a-content{
  /*min-height: 325px;*/
}
.app-text .download{ 
  font-size: 26px; 
  margin-top: 95px; 
  margin-bottom: 20px;
}

.app-contents {
    min-height: 690px;
}
.app-icons div a:active{
  
}
.app-icons div .appsvg{
  width:38px;
  height: 38px;
}
.what-outer .txt-right {
       right: 6%;
  }
.what-outer .txt-left {
       left: 6%;
  }
  .what-text {
    padding: 40px;
  }

.n-item1 img {
   /* min-height: 462px;*/
   height: 462px;
}
.n-item2 img, .n-item3 img {
    height: 120px;
}
.n-item4 img {
    height: 215px;
}
.body1 {
    min-height: 129px;
}


}







@media(max-width: 768px){
  .banner .banner-text .b-txt2{
  font-size: 34px;
  margin-bottom: 40px;
}
}



@media(max-width: 992px){
 

.share .s-text1{
  font-size: 30px;

}
.app-contents {
    min-height: 580px
}
.app-img{
  
  /*margin-right: 45px;*/
}
.app-icons div{
  
  margin:35px auto;
}

.app-text .txt-2{ 
  /*font-size: 24px;*/
  margin-bottom: 70px;  
}
.app-text .txt-3{ 
  font-size: 16px;  

}

.app-text .txt-4{ 
  
  margin-bottom: 50px; 

}

.app-text .learn{
  font-size: 14px;
  padding: 5px 10px;
}
.app-text .download{ 
  
  margin-top: 70px;
  margin-bottom: 20px; 
}

.store-pic{
  width: 100px;
  height: 30px;
}


.footer-list .lead1{
  margin-top: 28px;
}

.abt-b-txt1{
  font-size: 34px;
}

.abt-b-txt2 {
    font-size: 38px;
    margin-bottom: 55px;
  }
.abt-banner-text{
  
  
}

.what-text {
    padding: 25px;
    max-width: 500px;
}

.what-text .inner-head {
    font-size: 22px;
    }
.what-text .inner-para {
    font-size: 14px;
  }

 .new-grid .new-col{
  width: 50%;
}
.join .join-text {
    line-height: 1.1;
    max-width: 359px;
    }
.join .j-btm-photo {
    
    top: -177px;
}
 .join .j-btm-photo img {
    
    width: 178px;
  }
  .join .j-btm-photo .card-text1 {
    font-size: 16px;
    color: #888888;
}
.join .j-btm-photo .card-text2 {
    font-size: 28px;
    color: #161616;

}


.n-item1 img {
    /*min-height: 355px;*/
    height: 355px;
}
.body1 {
    min-height: 137px;
}
.body1 .lead1 {
    font-size: 22px;
}
.body1 .text1,.body2 .text2 {
    font-size: 14px;
}
.body1 .date1,.body2 .date2 {
    font-size: 12px;
}
.body2 .lead2 {
    font-size: 16px;
  }

.n-item2 img, .n-item3 img {
    height: 103px;
}
.body2 {
  
    min-height: 95px;
}
.n-item4 img {
    height: 138px;
}
.share-text {
   
    left: 46%;
  }

}



@media (max-width: 900px){
.app-contents {
   min-height: 550px;
}
.app-text .txt-1 {
    font-size: 22px;
  }
.app-text .txt-2 {
    font-size: 36px;
        margin-bottom: 60px;
  }
.app-text .txt-3 {
    font-size: 15px;
}
.app-text .txt-4 {
    margin-bottom: 40px;
    font-size: 15px;
}

.app-text .download {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 24px;
}
.app-img {
    margin-right: 80px;
}
.app-icons div {
    margin: 25px auto;
}

}


@media(max-width: 800px){
  .app-contents {
    min-height: 510px;
  }
.app-img {
    margin-right: 70px;
}
.app-text .txt-2 {
    font-size: 32px;
    margin-bottom: 50px;
}
.app-text .txt-4 {
    margin-bottom: 35px;
    font-size: 15px;
}
.app-text .download {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 22px;
}


}


@media(max-width: 768px){
 
.news-grid {
  display: block;
}
.news-grid .n-card{
 margin-bottom: 10px;
}
.share .s-text1{
  font-size: 24px;

}
.share .s-text2{
  font-size: 18px;
  }
 .app-contents {
    min-height: 400px;
}

.app-icons div a:hover,.app-icons div .active{
      padding: 10px 7px 14px 7px;
}


.app-img{
  display: none;
  /*margin-right: 30px;*/
}
.app-text .txt-2 {
    font-size: 32px;
    margin-bottom: 50px;
}
.app-text .txt-4{ 
  font-size: 14px;
    margin-bottom: 20px;
}

.app-text .download{ 
      margin-top: 50px;
    margin-bottom: 15px;
    font-size: 22px;

}
.app-icons div a:hover, .app-icons div.active a, .app-icons div .active {
    padding: 9px 6px 14px 6px;
  }
.app-icons div {
    margin: 13px auto;
}

.banner .banner-text .b-txt1, .abt-b-txt1 {
    font-size: 28px;
}

.abt-b-txt2{
  margin-bottom: 32px;
  font-size: 30px;
}
.abt-b-txt1 {
  
  font-size: 24px;
}
.abt-btn-sign ,.news-btn-sign,#faq-btn{
   
    font-size: 16px;
  }
.career-content .marg-b-none{
  margin-bottom: 0px;
}
.what-text {
    padding: 12px;
    max-width: 390px;
}
.what-text .inner-head {
    font-size: 20px;
}
.what-text .inner-para {
    font-size: 12px;
}
.app-dwnld .app-head {
    font-size: 28px;
}
.app-store-img.marg-btm img {
    width: 90px;
    height: 30px;
}
.news-head {
    font-size: 36px;
  }
.new-grid .new-col{
  width: 100%;
}
.join .j-btm{
  display: none;
}
.join .join-text .j-txt2 {
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 1;
}
.news-container,.news-col3{
  display: block;
}
.n-item1 img, .n-item2 img,.n-item3 img, .n-item4 img {
    height: unset;
}
.body1 {
    min-height: 125px;
}
.body2 {
    min-height: 80px;
}
.new-col .n-grid-img img {
  /*  max-height:unset;*/
  height: unset;
}
.share-text {
    left: 42%;
}


}



@media(max-width: 576px){
  .banner .banner-text .b-txt1{
  font-size: 24px;
  
}
  .banner .banner-text .b-txt2{
  font-size: 21px;
  margin-bottom: 20px;
  
}
.banner .banner-text {
    
    top:16%;
  }
.banner .banner-text .btn-sign{
  font-size: 14px;
  padding:8px 15px;
  
}
.abt-btn-sign,.news-btn-sign,#faq-btn{
  font-size: 12px;
  padding:5px 10px;
  border-radius: 5px;
  
}


.news{
  margin-top: 50px;
}

.share-text{
  line-height: 1;
   text-align: left;

}
.share .s-text1{
  font-size: 18px;
 
}
.share .s-text2{
  font-size: 14px;
  }
.app{
  display: flex;
}

.app-icons div {
    margin: 8px auto;
}
.app-icons div a:hover, .app-icons div.active a, .app-icons div .active {
    padding: 2px 5px 6px 5px;
}

.app-icons div .appsvg {
    width: 25px;
    height: 22px;
}
.app-text .txt-2 {
   
        font-size: 20px;
    margin-bottom: 15px;
}

.store-pic{
  width: 50px;
  height: 20px;
  border-radius: 3px;
  /*margin-top: 20px;*/
}
.app-contents {
  
    min-height: 265px;

}

  .app-text .txt-3 {
    font-size: 11px;
}

.app-text .txt-4 {
    font-size: 10px;
    margin-bottom: 15px;
}
.app-text .learn {
    font-size: 12px;
    padding: 4px 8px;
}
.app-text .download {
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 17px;
}
.app-store {
   /* margin-top: 3px;*/
}
  .app-text .txt-1 {
   font-size: 14px;
    margin-top: 0px;
}
.abt-banner-text {
    
    left: 44%
}
.abt-b-txt1 {
    font-size: 20px;
}
.abt-b-txt2 {
    margin-bottom: 8px;
    font-size: 17px;
}


.what-text .inner-para {
    font-size: 10px;
    margin-bottom: 0px;
}
.what-text .inner-head {
    font-size: 16px;
    margin-bottom: 0px;
}
.what-outer .txt-right{
  right:0%;
  left: 50%;
      -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.what-outer .txt-left{
  
  left: 50%;
      -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.what-text {
    padding: 1px 8px;
    /* max-width: 390px; */
    max-width: unset;
    min-width: 259px;

}
.app-dwnld .app-head {
    font-size: 18px;
}
.app-store-img.marg-btm img {
    width: 70px;
    height: 25px;
}
.news-head {
    font-size: 28px;
}
.news-details-col{
  display: grid;
}
.cat-selector{
 
  margin-left: 0px;
}
.join .join-text .j-txt1 {
    font-size: 28px;
    line-height: 1;
}
.join .join-text .j-txt2 {
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 1;
}
.join .join-text .j-btn {
    font-size: 14px;
    padding: 5px 9px;
}
.share-text {
    
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.memmbles .m-txt1 {
    font-size: 54px;
}

.memmbles .m-txt2 {
  text-align: justify;
}
.memmbles .m-icons .svgimg {
    width: 55px;
    height: 55px;
    padding: 16px 0px;
   
}
.memmbles .m-icons .mg2 {
    margin-right: 15px;
}
.memmbles .m-icons .mg1 {
    margin: auto 15px;
}

}



@media(max-width: 350px){
  .banner .banner-text {
    
    top:5%;
  }
.memmbles .m-icons .mg2 {
    margin-right: 10px;
}
.memmbles .m-icons .mg1 {
    margin: auto 10px;
}

.memmbles .m-txt1 {
    font-size: 50px;
}

}


